/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2016, 11:16:18
    Author     : lauricdd
*/
body{
    font-weight: lighter;
}

.bold {
    font-weight: 900;
}

#titulo{
    max-width: 430px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#content h4{
    font-family: 'champagne Limousines';
    margin-bottom: 0;
    padding-left: 0;
}

.btn{
    text-transform: none;
    font-family: 'champagne Limousines';
    font-weight: lighter;
}

#ayuda{
    margin-top: 0;
}

/*Card panel*/
.card-panel{
    background-color: #E6E6E6;
    padding: 0 0 30px;
    margin: 0;
}

#header{
    background-color: #467A7F;
    height: 40px;
    padding: 0;
    margin: 0 0 1rem 0;
} 

#header h4{
    font-family: 'champagne Limousines';
    font-weight: lighter;
    color: white;
}

#binomio_resolver{
    color: #3b3b3b;
    font-weight: 300;
    margin-top: 15px;
}

/*Tabs*/
.tabs {
    background-color: #E6E6E6
}

.tabs .tab{
    text-transform: none;
    font-size: 1em;
}

.tabs .tab a, .tabs .tab a:hover {
    color: #F7931E;
    font-weight: 300;
}

.tabs .tab.disabled a{
    color: #878787;
}

.tabs .indicator {
    height: 5px;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #F7931E;
}

/* Tab Factor comun*/
#factor_comun, #cuadrado_cubo{
    font-family: 'champagne Limousines';
    padding-top: 60px;
    text-align: center;
}

#pasos h5, #pasos label, #fc, #valor_fc, #valor_factores{
    color: #5b5b5b;
}

#valor_fc, #valor_factores{
    font-weight: 900;
    font-size: 1.5em;
}

[type="radio"]:disabled:checked + label:after {
    background-color: #ee4210;
    border-radius: 50%;
    border: 2px solid #ee4210;
}

#explicaciones{
    width: 70%;
    margin: 10px 15%;
    line-height: 20px;
    font-size: 1.2em;
}

#factores, #resultado{
    font-family: 'champagne Limousines';  
}

#valor_factores{
    line-height: 30px;
}

#valor_resultado{
    font-size: 1.3em;
}

input[type=number].valid{
    border-bottom: 1px solid #5C97A0; 
    box-shadow: 0 1px 0 0 #5C97A0; 
} 

/*Sidenav*/
.side-nav, .side-nav .collapsible-body{
    background-color: #e0e0e0;
}

.side-nav .collapsible-header{
    background-color: #878787;
    padding: 10px 10px 0;
    height: 10px;
    width: 240px;
    color: white;
}

#sidenav_header img{
    width: 35%;
    margin-left: 10px;
    margin-bottom: 0;
    float:left;
}

.collapsible {
    margin-bottom: 30px;
}

.collapsible-header h6{
    font-family: 'carly Sue';
    font-weight: lighter;
    text-align: left;
    font-size: 0.5em;
    margin: 12px;
}

.collapsible-header span{
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #eb7b00;
    text-align: center;
    font-size: 0.5em;
    color: white;
    font-family: 'champagne Limousines';
}

.collapsible-body p {
    margin-right: 0;
    color: #595959;
    font-family: 'champagne Limousines';
    line-height: 25px;
    font-size: 15px;
    padding: 0 0 20px 20px;
    text-align: left;
    color: black;
}

/*Boton flotante*/
#fixed_button{
    position: relative;
}

#fixed_button .fixed-action-btn{
    position: absolute;
}

@media (max-width:459px) {
    #content{
        padding-top: 45px;
        padding-left: 0;
    }
    
    #content h4{
        font-size: 1.4em;  
    }
   
    #header h4{
        font-size: 1.6em;
        padding-top: 10px;
    }
    
    .btn {
        text-transform: none;
        padding: 5px;
        margin: 20px;
        font-size: 1.2em;
    }
    
    #pasos h5, #pasos label, #fc{
        font-size: 1.2em;
    }
     
    #binomio_resolver{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    .side-nav .collapsible-header{
        font-size: 1.4em;
    }
    
    #ayuda{
        width:86%;
        margin-left: 2px;
    }
    
    #fixed_button .fixed-action-btn{
        right: 30px; 
        top: 20px;
    }
}

@media (min-width: 460px) and (max-width : 767px){
    #content{
        padding-top: 45px;
        padding-left: 0;
    }

    #content h4{
        font-size: 1.4em;  
    }
    
    #header h4{
        font-size: 1.8em;
        padding-top: 8px;
    }
    
   
    .btn {
        text-transform: none;
        padding: 5px;
        margin: 20px;
        font-size: 1.2em;
    }
    
    #pasos h5, #pasos label, #fc{
        font-size: 1.2em;
    }
     
    #binomio_resolver{
        font-size: 1.4em;
    }
    
    .side-nav .collapsible-header{
        font-size: 2.1em;
    }
    
    #ayuda{
        width: 60%;
    }
    
    #fixed_button .fixed-action-btn{
        right: 50px; 
        top: 80px;
    }
}

@media (min-width :768px) and (max-width : 992px) {  
    .btn {
        padding: 8px;
        margin-top: 30px;
        font-size: 1.5em;
    }
    
    #pasos h5, #pasos label, #fc{
        font-size: 1.2em;
    }
    
    #binomio_resolver{
        font-size: 1.5em;
    }
    
    .side-nav .collapsible-header{
        font-size: 2.5em;
    }
    
    #ayuda{
        width: 50%;
    }
    
    #fixed_button .fixed-action-btn{
        right: 80px; 
        top: 50px;
    }
}

@media (min-width:993px) {
    #content h4{
        font-size: 1.5em;
    }
    
    .btn {
        padding: 10px;
        font-size: 1.5em;
        margin-top: 20px;
    }
    
    #binomio_resolver{
        font-size: 1.7em;
    }
    
    #pasos h5, #pasos label, #fc, #valor_fc, #valor_factores{
        font-size: 1.4em;
    }
    
    .side-nav .collapsible-header{
        font-size: 2.4em;
    }
    
    #ayuda{
        width: 40%;
    }
    
    #fixed_button .fixed-action-btn{
        right: 180px; 
        top: 50px;
    }
}    
