/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2016, 21:37:28
    Author     : lauricdd
*/

@font-face { 
    font-family: 'champagne Limousines'; 
    src: url('../fonts/champagne_limousines/Champagne&Limousines.ttf'); 
}

@font-face { 
    font-family: 'jenna Sue'; 
    src: url('../fonts/JennaSue.ttf'); 
}

@font-face { 
    font-family: 'carly Sue'; 
    src: url('../fonts/CarlySue.ttf'); 
}

.orange-text{
    color: orange;
}

.red{
    color: red;
}

body{
    background-image: url('../img/fondo.png');
    background-repeat: repeat;
    color: #4E4E4E;
    overflow-x: scroll;
}   

/*Sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-bottom: 55px;
}
/*Sticky footer*/    


/*Navbar*/
nav .container{
    width: 95%;
}

nav{
    background: #5C97A0;
    padding: 12px 0;
    letter-spacing: 1px;
    font-size: 1em;
}

nav img{
    width: 160px;
}

nav h6{
    font-family: 'champagne Limousines'; 
    font-size: 0.7em;
}

nav h4{
    font-family: 'jenna Sue'; 
    margin: 0;
    font-size: 2.2em;
}

#mobile_nav{
    font-size: 130%;
}

/* Navbar dropdown*/
.dropdown-content li a .material-icons{
    font-size: 150%;
}
.dropdown-content li a span{
    font-weight: 400;
}


/*container and titles*/
#content h4{
    font-family: 'champagne Limousines';
    margin-bottom: 0;
}

#factorizando{
    margin-right: 50px;
}

#ayuda{
    opacity: 0.9;
    margin-top: 0;
}

#ayuda:hover{
    opacity: 1;
}


.material-tooltip {
    padding: 2px 6px 0; 
}

/*Footer*/
footer{
    font-weight: lighter;
}

.top_footer{
    background: #5C97A0;
    height: 25px;
}

.bottom_footer{
    background-color: #467A7F;
    padding: 15px 5px 10px;
    color: white;
    letter-spacing: 0.4px;
}

.footer-copyright{
    font-size: 1em;
    font-weight: 500;
}

li{
    font-size: 13px;
    width: 90%;
    display: block;
}

li a{
    font-weight: 500;
    color: white;
}

footer img{
    max-width: 300px;
    width: 100%;
    height: auto;
}


@media (max-width:459px) {
   .dropdown-content li a span{
        font-size: 90%;
    }
    
    #content h4{
        font-size: 1.2em;  
    }
    
    #content{
        padding: 0;
    }
    
    #ayuda{
        width:86%;
        margin-left: 2px;
    }
    
    footer{
        font-size: 11px;
    }
    
    .bottom_footer{
        text-align: center;
        font-size: 1em;
        line-height: 1.8em;
    }
    
    footer img{
        padding-top: 20px;
    }
    
}

@media (min-width: 460px) and (max-width : 767px){
    .dropdown-content li a span{
        font-size: 90%;
    }
    
    #content h4{
        font-size: 1.7em;  
    }
    
    #ayuda{
        width: 60%;
    }
    
    footer{
        font-size: 18px;
    }
    
    .bottom_footer{
        text-align: center;
        font-size: 1.2em;
        line-height: 0.8em;
    }
    
    footer img{
        padding-top: 11px;
    }
}    

@media (min-width :768px) and (max-width : 992px) {
    #content h4{
        font-size: 1.8em;
    }
    
    #ayuda{
        width: 50%;
    }
    
    footer{
        font-size: 9px;
    }
    
    .bottom_footer{
        padding-left: 40px;
        font-size: 1.6em;
        line-height: 1.4em;
    }
    
    footer img{
        padding-top: 16px;
    }

}

@media (min-width:993px) {
    #content h4{
        font-size: 1.9em;
    }
    
    #ayuda{
        width: 40%;
    }
  
    .top_footer{
        margin-top: 5px;
    }   
    
    footer{
        font-size: 11px;
    }
    
    .bottom_footer{
        padding-left: 5%;
        font-size: 1.6em;
        line-height: 1.2em;
    }
    
    footer img{
        padding-top: 11px;
    }
}