/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
    font-weight: lighter;
}

#titulo{
    max-width: 390px;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

#binomios{
    background-color: #F7931E;
}

#trinomios{
    background-color: #a4a4a4;
}

#cerrar{
    background: #F7931E;
}

.btn{
    text-transform: none;  
}

#nivel_1{
    background-color: #8CC63F;
}

#nivel_2{
    background-color: #F7931E;
}

#nivel_3{
    background-color: #F15A24;
}

#nivel_4{
    background-color: #ED1C24;
}

#nivel_5{
    background-color: #C1272D;
}

@media (max-width:459px) {
    #content{
        padding: 40px 0;
    }
    
    #mobile_nav{
        margin-right: 0;
    }
   
    .btn {
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 1.4em;
    }
    
    #top_footer{
        margin-top: 40px;
    }
}
    
@media (min-width: 460px) and (max-width : 767px){
    #content{
        padding-top: 70px;
        padding-right: 45px;
    }
    
    #mobile_nav{
        margin-right: 20px;
    }
   
    .btn {
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 1.4em;
    }
    
    #top_footer{
        margin-top: 40px;
    }
}

@media (min-width :768px) and (max-width : 992px) {
    #content{
        padding: 40px;
        background-image: url('../img/figuras.png');
        background-repeat : no-repeat;
        background-size: contain;
        background-position-x: right;
        /* background-origin: content-box; */
    }
    
    .btn {
        padding: 15px 10px;
        margin-top: 55px;
        font-size: 2.8em;
    }
    
    
}

@media (min-width:993px) {
    #content{
        /*height: 350px;*/
        padding: 45px;
        background-image: url('../img/figuras.png');
        background-repeat : no-repeat;
        background-size: contain;
        background-position-x: right;
        background-origin: content-box;
    }
    
    .btn {
        padding: 15px 10px;
        font-size: 4em; 
        margin-top: 55px;
    }
} 



