/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-feb-2016, 11:16:18
    Author     : lauricdd
*/
body{
    font-weight: lighter;
}

#content{
    height:100%;  
}

#content h1{
    font-family: 'jenna Sue';
    margin: 0;
    float: left;
}

#content h4{
    font-family: 'champagne Limousines';
    margin-bottom: 0;
}

span {
    font-family: 'jenna Sue';
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    float: right;
}

.btn{
    text-transform: none;
    font-weight: lighter;
}

#nivel_1{
    background-color: #8CC63F;
}

#nivel_2{
    background-color: #F7931E;
}

#nivel_3{
    background-color: #F15A24;
}

#ayuda{
    width: 70px;
}

/*Small screens*/
@media (max-width:600px) {
    #content{
        padding-top: 45px;
        padding-left: 0;
    }
   
    .btn {
        text-transform: none;
        padding: 10px;
        margin: 20px;
        font-size: 1.6em;
    }
    
}

/*Medium screens*/
@media (min-width: 601px) and (max-width:992px) {
    #box{
        background-image: url('../img/figuras.png');
        background-repeat : no-repeat;
        background-size: contain;
        background-position-x: right;
        background-origin: content-box;
        padding-right: 40px;
    }
    
    .btn {
        padding: 15px 10px;
        margin-top: 30px;
        font-size: 2.3em;
    }
}

/*Large screens*/
@media (min-width:993px) {
    #box{
        background-image: url('../img/figuras.png');
        background-repeat : no-repeat;
        background-size: contain;
        background-position-x: right;
        background-origin: content-box;
        padding-right: 40px;
    }
    
    .btn {
        padding: 15px 10px;
        font-size: 3.5em; 
    }
    
} 

