/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2016, 21:37:28
    Author     : lauricdd
*/

@font-face { 
    font-family: 'champagne Limousines'; 
    src: url('../fonts/champagne_limousines/Champagne&Limousines.ttf'); 
}

@font-face { 
    font-family: 'jenna Sue'; 
    src: url('../fonts/JennaSue.ttf'); 
}

@font-face { 
    font-family: 'carly Sue'; 
    src: url('../fonts/CarlySue.ttf'); 
}

body{
    background-image: url('../img/fondo.png');
    background-repeat: repeat;
    color: #4E4E4E;
    overflow-x: hidden;
}   

/*Sticky footer*/
/*Tomado de http://codeconvey.com/make-css-sticky-footer/*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 230px; 
}

.content {  
    box-sizing: border-box;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 165px;
    width: 100%;
}


/*Navbar*/
nav .container{
    width: 95%;
}

nav{
    background: #5C97A0;
    padding: 20px 0;
}

nav img{
    width: 190px;
}

nav h6{
    font-family: 'champagne Limousines'; 
    font-size: 0.7em;
}

nav h4{
    font-family: 'jenna Sue'; 
    margin: 0;
    font-size: 2.2em;
}

/*container and titles*/

#content h4{
    font-family: 'champagne Limousines';
    margin-bottom: 0;
}

#factorizando{
    margin-right: 50px;
}

/*Footer*/
footer{
    font-weight: lighter;
}

#top_footer{
    background: #5C97A0;
    height: 25px;
}

#bottom_footer, #mobile_bottom_footer{
    background-color: #467A7F;
}

#mobile_bottom_footer{
    padding-top: 10px;
}

li{
    font-size: 13px;
    width: 90%;
    display: block;
}

li a{
    font-weight: 500;
    color: white;
}

footer img{
    max-width: 290px;
    width: 100%;
    height: auto;
    padding-bottom: 6%;
    padding-top: 6%;
    padding-right: 4%;
}

footer.page-footer {
    margin-top: 0; 
    background-color: transparent;
        
}

/*Modal*/
.modal{
    color: #3c3c3c;
    width: 100%; 
    font-family: 'champagne Limousines';
}

.modal .modal-content {
    padding: 0;
}

.modal h5{
    font-weight: bold;
}

@media (max-width:459px) {
    #mobile_nav{
        display: none;
    }
    
    nav img{
        margin-left: 0;
    }

    #content h4{
        font-size: 1.2em;  
    }
    
    #content{
        padding: 0;
    }
    
    footer{
        font-size: 11px;
    }
    
    /*Modal*/
    .modal{
        padding-top: 20px;
        height: 70%;
    }
    
    .modal p{
        font-size: 1em;
        padding: 5px 10px;
        line-height: 30px;
    }
    
    .modal .btn{
        padding: 5px;
        font-size: 1.2em;
    }
}

@media (min-width: 460px) and (max-width : 767px){
    #mobile_nav{
        padding-right: 20px;
        padding-top: 10px;
    }
    
    nav img{
        margin-left: 0;
    }
    
    #content h4{
        font-size: 1.7em;  
    }
    
    footer{
        font-size: 11px;
    }
    
    /*Modal*/
    .modal{
        padding: 15px 4px;
        height: 40%;
    }
    
    .modal p{
        font-size: 1.2em;
        padding: 5px 10px;
        line-height: 30px;
    }
    
    .modal .btn{
        padding: 5px;
        font-size: 1.2em;
    }
}    

@media (min-width :768px) and (max-width : 992px) {
    nav img{
        margin-right: 50px;
    }
    
    #content h4{
        font-size: 1.8em;
    }
    
    footer{
        font-size: 9px;
    }
    
    #bottom_footer{
        padding-left: 40px;
    }

    /*Modal*/
    .modal{
        padding: 10px 15px;
        height: 45%;
    }
    
    .modal p{
        font-size: 1.4em;
        line-height: 35px;
    }
    
    .modal .btn{
        margin: 0;
        padding: 8px;
        font-size: 1.4em;
    }
}

@media (min-width:993px) {
    nav img{
        margin-left: 50px;
    }

    #content h4{
        font-size: 1.9em;
    }
  
    #top_footer{
        margin-top: 5px;
    }   
    
    footer{
        font-size: 11px;
    }
    
    #bottom_footer, #mobile_bottom_footer{
        padding-left: 5%;
    }
    
    /*Modal*/
    .modal{
        padding: 40px 30px;
        height: 35%;
    }
    
    .modal p{
        font-size: 1.5em;
        display: inline;
        line-height: 40px;
    }
    
    .modal .btn{
        padding: 10px;
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}