/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2016, 21:37:28
    Author     : lauricdd
*/

@font-face { 
    font-family: 'champagne Limousines'; 
    src: url('../fonts/champagne_limousines/Champagne&Limousines.ttf'); 
}

@font-face { 
    font-family: 'jenna Sue'; 
    src: url('../fonts/JennaSue.ttf'); 
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background-image: url('../img/fondo.png');
    background-repeat: repeat;
    color: #4E4E4E;
    /*overflow-x: hidden;*/
    margin: 0 0 100px; /* bottom = footer height */
}   

/*Navbar*/
nav .container{
    width: 95%;
}

nav{
    background: #5C97A0;
}

nav img{
    width: 190px;
}

nav h6{
    font-family: 'champagne Limousines'; 
    font-size: 0.7em;
}

nav h4{
    font-family: 'jenna Sue'; 
    margin: 0;
    font-size: 2.2em;
}

/*container and titles*/
#content h1{
    font-family: 'jenna Sue';
    margin: 0;
    float: left;
}

#content h4{
    font-family: 'champagne Limousines';
    margin-bottom: 0;
}

#con {
    font-family: 'jenna Sue';
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    float: right;
}

#factorizando{
    margin-right: 50px;
}


/*Footer*/
footer{
    font-weight: lighter;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}

#top_footer{
    background: #5C97A0;
    height: 25px;
}

#bottom_footer, #mobile_bottom_footer{
    background-color: #467A7F;
}

#mobile_bottom_footer{
    padding-top: 10px;
}

li{
    font-size: 13px;
    width: 90%;
    display: block;
}

li a{
    font-weight: 500;
    color: white;
}

footer img{
    max-width: 290px;
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    padding-top: 10px;
}

footer.page-footer {
    margin-top: 0; 
    background-color: transparent;
        
}

/*Modal*/
.modal{
    color: #3c3c3c;
    width: 100%; 
    font-family: 'champagne Limousines';
}

.modal .modal-content {
    padding: 0 5px;
}

.modal h5{
    font-weight: bold;
}

@media (max-width: 600px){
    nav{
        padding: 10px 0 20px 10px;
    }
    
    #mobile_nav{
        padding-right: 20px;
        padding-top: 10px;
    }
    
    nav img{
        margin-left: 0;
    }
    
    #content h1{
        font-size: 4.2em;
    }

    #content h4{
        font-size: 1.7em;  
    }
    
    #con {
        font-size: 2.4em;
        padding-top: 52px;
    }
    
    footer{
        font-size: 11px;
    }
    
    /*Modal*/
    .modal{
        padding: 5px;
        height: 35%;
        margin: 20% 0 10% 0; 
    }
    
    .modal p{
        font-size: 0.9em;
        display: block;
        line-height: 20px;
    }
    
    .modal .btn{
        padding: 5px;
        font-size: 1.2em;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    nav{
        padding: 10px 10px 20px 10px;
    }
    
    nav img{
        margin-right: 50px;
    }
    
    #content h1{
        font-size: 6.4em;
        text-align: center;
    }

    #content h4{
        font-size: 1.8em;
    }
    
    #con {
        font-size: 3.2em;
        padding-top: 30px;
        /* padding-right: 15px; */
    }
    
    footer{
        font-size: 9px;
    }
    
    /*Modal*/
    .modal{
        padding: 15px;
        height: 30%;
        margin: 8% 0 10% 0; 
    }
    
    .modal p{
        font-size: 1.2em;
        display: inline;
        line-height: 20px;
    }
    
    .modal .btn{
        margin: 5px;
        padding: 10px;
        font-size: 1.4em;
    }
}

@media (min-width:993px) {
    nav{
        padding: 10px 10px 20px 10px;
    }
    
    nav img{
        margin-left: 50px;
    }
    
    #content h1{
        font-size: 8em;
    }

    #content h4{
        font-size: 1.9em;
    }
      
    #con {
        font-size: 3.7em;
        padding-top: 105px;
        padding-right: 18px;
    }
    
    #top_footer{
        margin-top: 5px;
    }   
    
    footer{
        font-size: 11px;
    }
    
    /*Modal*/
    .modal{
        padding: 30px;
        height: 30%;
        margin: 8% 0 10% 0; 
    }
    
    .modal p{
        font-size: 1.4em;
        display: inline;
        line-height: 30px;
    }
    
    .modal .btn{
        padding: 10px;
        font-size: 1.4em;
    }
}