/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
    font-weight: lighter;
}

#binomios{
    background-color: #F7931E;
}

#trinomios{
    background-color: #a4a4a4;
}

#cerrar{
    background: #F7931E;
}

.btn{
    text-transform: none;   
}

#nivel_1{
    background-color: #8CC63F;
}

#nivel_2{
    background-color: #F7931E;
}

#nivel_3{
    background-color: #F15A24;
}

#content{
    height:100%;  
}
        
/*Small screens*/
@media (max-width:600px) {
    #content{
        padding-top: 70px;
        padding-right: 45px;
    }
    
    #mobile_nav{
        margin-right: 20px;
    }
   
    .btn {
        text-transform: none;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 1.4em;
    }
    
    #top_footer{
        margin-top: 40px;
    }
}

/*Medium screens*/
@media (min-width: 601px) and (max-width:992px) {
    #content{
        padding: 40px;
        background-image: url('../img/figuras.png');
        background-repeat : no-repeat;
        background-size: contain;
        background-position-x: right;
        background-origin: content-box;
    }
    
    .btn {
        padding: 15px 10px;
        margin-top: 30px;
        font-size: 2.8em;
    }
    
    
}

/*Large screens*/
@media (min-width:993px) {
    #content{
        /*height: 350px;*/
        padding: 45px;
        background-image: url('../img/figuras.png');
        background-repeat : no-repeat;
        background-size: contain;
        background-position-x: right;
        background-origin: content-box;
    }
    
    .btn {
        padding: 15px 10px;
        font-size: 4em; 
    }
} 



