/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

/***** Warning Box *****/
.warning-box {
    /*background: #E0717C;*/
    color: black;
    text-align: center;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.warning-box i {
    font-size: 40px;
    vertical-align: -12px;
    margin-right: 20px;
}
